@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');


body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.bg-gradient {
    background-color: black;
}

.title {
    font-family: 'Lugrasimo', cursive;
    font-size: 3rem;
    font-weight: 800;
    color: rgb(252, 252, 220);
    margin-bottom: 2em;
    text-transform: uppercase;
}

.card {
    overflow: hidden;
    position: relative;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

.card-text {
    color: rgb(252, 252, 220);
    text-align: center;
    font-family: 'Lugrasimo', cursive;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: ease 0.3s;
}

.card-body:hover {
    opacity: 1;
}

@keyframes reveal {
    from {
        opacity: 0.2;
        scale: 0.75;
        translate: 0 100px;
    }
    to {
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}